@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Indie+Flower&family=Jersey+20&family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sedgwick+Ave+Display&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Jersey+20&family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sedgwick+Ave+Display&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Indie+Flower&family=Jersey+20&family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sedgwick+Ave+Display&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Indie+Flower&family=Jersey+20&family=Permanent+Marker&family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sedgwick+Ave+Display&family=Shadows+Into+Light&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(../images/fundo.jpg);
    background-position: center center;
    height: 100vh;
    display: flex;
}
.org{
    padding: 10px;
}
.org h3{
    padding-bottom: 50px;
    margin: 10px;
    color: yellow ;
    margin-left: 20px;
    font-family: "Poppins", sans-serif;

}
button{
    font-family: "Permanent Marker", cursive;
}
.botao{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    margin-left: 10px;   
    gap: 60px;
   
}
.tab-btn{
    display: flex;
    justify-content: center;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    padding: 15px;
}
.content{
    display: none;
    flex-direction:column ;
    padding: 10px;
    border-radius: 20px;
}
p{
    flex-direction: column;
    text-align: center;
}
.content.show{
    display: flex;
}
.tab-contents{
    display: flex;
    justify-content: space-around;
    width: 270px;
    border: 10px;
}
.image{
    padding-top: 100px;
    margin-left: 75px
}
img{
    width: 100px;
    height: 100px;
}
#bob{
    background: linear-gradient(to right, #f7971e, #ffd200);
    font-family:"Antic Slab", serif;
}
#final button{
    background: linear-gradient(to right, #8e9eab, #eef2f3);
}
#pat{
    background: linear-gradient(to right, #b24592, #f15f79);
    font-family: "Indie Flower", cursive;
}
#final button{
    background: linear-gradient(to right, #8e9eab, #eef2f3);
}
#final{
    background: linear-gradient(to right, #00c6ff, #0072ff);
    font-family: "Poppins", sans-serif;
}
#final button{
    background: linear-gradient(to right, #8e9eab, #eef2f3);
}
.image_modify{
    padding-top: 10px;
    margin-left: 5px
}
.image_modify img{
    width: 200px;
    height: 500px;
}
.image_modify .tab-btn{
    margin-left: 50px
}
.image_modify h3{
    color: red;
    margin-left: 10px;
}
#nao{
    background-color: black;
 
}




